syntax: glob
Library
Temp

*.pidb
*.sln
*.userprefs
*.csprog
*.orig
*.sln
*.csproj
*.suo

Verbot 5 for Unity 3D/Assets/StreamingAssets/Verbots/logs/
Verbot 5 for Unity 3D/Assets/StreamingAssets/Verbots/memoirs.dat
Verbot 5 for Unity 3D/Assets/StreamingAssets/Verbots/memoirs.dat.meta
Verbot 5 for Unity 3D/Assets/StreamingAssets/Verbots/logs.meta
